
/*=============Formulário=============*/

div>h2{
    color:#000;
    text-align: center;
    margin: 30px auto 0px auto;
}
.entrada {
    margin:100px auto auto auto;
    width:auto;
    padding: 0;
    max-width: 700px;
    height:auto;
    border:2px solid rgba(102, 33, 148, 0.822);
    border-radius: 20px;
}
.entradaint {
    margin:auto;
    width:auto;
    height:auto;
    max-width: 500px;
    border:none;    
}
.entradaint form { 
    margin: auto;
    padding: 60px 0 30px 10px;
    color:#000;
}

form>input{
    background: none;
    float: left;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    text-decoration: none;
    width: 90%;
    margin: 40px auto 20px auto;
    outline: none;
}

::placeholder{
    color:rgba(0, 0, 0, 0.37);
}

.btn-login{
    margin:60px auto 0 auto;
}

/*=====================Formatacao do botao login*/
.buttonLogin{
    background-color: transparent;
    border: 2px solid rgb(102, 33, 148);
    text-decoration: none;
    color: #000;
    border-radius: 20px;
    padding:10px 20px;
}
.buttonLogin:hover{    
    background-color: rgb(102, 33, 148);
    color: rgb(255, 255, 255);
    transition:.3s;
}

/*=====================Formatacao do botao Register*/

a.button{
    text-decoration: none;
    border: 2px solid rgba(102, 33, 148, 0.822);
    background: rgb(102, 33, 148);
    color: #FFF;
    border-radius: 20px;
    padding:10px 20px;
}

a.button:hover{
    background: none;
    color: #000;
    transition: .2s;
}

/*=============Esqueceu a senha?=============*/

.forgotPass{
    color:rgb(102, 33, 148);
    margin:0 0 0 10px;
}
.forgotPass:hover{
    color:rgb(64, 5, 104);
}
