/*====================FORMULÃRIO DE REGISTRO====================*/
.form{
    border: 2px solid rgba(236, 236, 236, 0.842);
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    margin: 100px auto auto auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin: auto auto 50px auto;
}

hr{
    border: 0.01mm solid rgba(54, 54, 54, 0.411);
}

input{
    background: none;
    border:none ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
    width: 45%;
    margin: 30px 3% 0 0;
    color: rgba(255, 255, 255, 0.822);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

div>input{
    width: 94%;
}

#checkAccept{
    
    width: 30px;
    height: 15px;
    border-radius: 50px;
    margin: 20px 0;
}

.btn-login {
    background: none;
    color: rgba(236, 236, 236, 0.842);
    margin: 50px auto auto auto;
    padding: 10px;
    border: 2px solid rgba(236, 236, 236, 0.842);
    border-radius: 20px;
    outline: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-login:hover{
    background: rgba(255, 255, 255, 0.897);
    color: #242424;
    transition: .5s;    
}
/*====================TIPOGRAFIA====================*/

::placeholder{
    color: rgba(255, 255, 255, 0.507);
}

small{
    color: rgba(236, 236, 236, 0.842);
    font-size: 14px;
    text-align: left;
}

a{
    color: rgba(236, 236, 236, 0.842);
}
a:hover{
    color: rgb(255, 255, 255);
    transition: .4s;
}

* {
    font-family: Impact, Haettenschweiler, 
    'Arial Narrow Bold', sans-serif;
}