/*====================FORMULÃRIO DE REGISTRO====================*/
.form{
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    margin: 100px auto auto auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin: auto auto 50px auto;
}

input{
    background: none;
    border:none ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
    width: 45%;
    margin: 30px 3% 0 0;
    color: rgba(255, 255, 255, 0.822);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

div>input{
    width: 94%;
}

select{
    background: rgba(255, 255, 255, 0.884);
    height: 25px;
    border: none;
    border-radius: 50px;
    padding: 2px;
    margin: 2.7em 0 0 0;
    position: left; 
    color: #000;
    outline: none;
    text-decoration: none;
}


#checkAccept{
    
    width: 30px;
    height: 15px;
    border-radius: 50px;
    margin: 20px 0;
}

.btn-register{
    background: none;
    color: rgba(255, 255, 255, 0.767);
    margin: 50px auto auto auto;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.767);
    border-radius: 50px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-register:hover{
    background: #FFF;
    color: black;

    transition: .5s;    
}
/*====================TIPOGRAFIA====================*/

::placeholder{
    color: rgba(255, 255, 255, 0.507);
}

small{
    color: rgb(158, 158, 158);
    font-size: 15px;
    text-align: left;
}

a{
    color: rgb(226, 226, 226);
}
a:hover{
    color: rgb(255, 255, 255);
    transition: .4s;
}

* {
    font-family: Impact, Haettenschweiler, 
    'Arial Narrow Bold', sans-serif;
}